/* Body */
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #3a3544;
}

.titolo_centrale {
    display: inline;
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 1rem 0;
    color: white;
    position: relative;
  }
  
  .titolo_centrale::before {
    content: "";
    display: block;
    background-color: black;
    width: 100%;
    height: 1.5em;
    border-radius: 0.5em;
    margin-bottom: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
  }
  
  
  /* Carousel */

  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3a3544;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .accordion {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 400px;
    gap: 16px;
    transition: 0.3s;
  }
  
  .accordion:hover {
    gap: 0;
  }
  
  .accordion h2 {
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;
    border-bottom: 2px solid #fff;
    white-space: nowrap;
  }
  
  .accordion li {
    position: relative;
    overflow: hidden;
    flex: 0 0 80px;
    border-radius: 50px;
    opacity: 0.75;
    cursor: pointer;
  }
  
  .accordion li img {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .accordion li,
  .accordion li img,
  .accordion li, .content,
  .accordion li, .content span {
    transition: 0.3s;
  }
  
  .accordion li .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: #fff;
    padding: 15px;
    background: #02022e;
    background: 
        linear-gradient(
        0deg,
            rgb(
                0 0 0 / 70%
            ) 10%,
            rgb(
                255 255 255 / 0%
            ) 100%
        );
    opacity: 0;
    visibility: hidden;
  }
  
  .accordion li
  .content span {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 50%;
    translate: -300px 0;
    visibility: hidden;
    opacity: 0;
  }
  
  .accordion li:hover {
    flex: 0 1 260px;
    scale: 1.1;
    z-index: 10;
    opacity: 1;
  }
  
  .accordion:hover
  .content {
    opacity: 1;
    visibility: visible;
  }
  
  .accordion li:hover span {
    translate: -50% 0;
    opacity: 1;
    visibility: visible;
  }
  
  /* Navbar */
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    z-index: 100;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo,
  .links {
    display: flex;
    align-items: center;
  }
  
  .logo {
    gap: 12px;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    border-radius: 6px;
  }
  
  .logo h2 {
    font-size: 20px;
    font-weight: 400;
  }

  .pfp,
  .links {
    display: flex;
    align-items: center;
  }
  
  .pfp {
    gap: 12px;
  }
  
  .pfp img {
    width: 40px;
    height: 40px;
    border-radius: 6px;
  }
  
  .pfp h2 {
    font-size: 20px;
    font-weight: 400;
  }
  
  .links {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .navbar a {
    color: inherit;
    text-decoration: none;
    transition: 0.25s;
  }
  
  a.login-link {
    display: grid;
    place-items: center;
    height: 40px;
    padding: 0 12px;
    border-radius: 6px;
    color: #f9f9f9;
    background: #d32f2f;
  }

  a.login-link:hover{
    color: #000;
  }
  
  .search {
    flex: 1 1 auto;
    position: relative;
    margin-left: 10px;
  }
  
  .search input {
    background: #f2f2f2;
    border-radius: 6px;
    border: 0;
    width: 100%;
    height: 40px;
    padding-left: 34px;
    font-family: inherit;
    font-size: 16px;
  }
  
  .search input::placeholder {
    color: #9d9d9d;
  }
  
  .search img {
    position: absolute;
    top: 50%;
    left: 10px;
    translate: 0 -50%;
    width: 20px;
    height: 20px;
  }
  
  .burger {
    display: grid;
    place-items: center;
    background: transparent;
    border: 0;
  }
  
  @media (width >= 320px) {
    .burger {
      display: none;
    }
  }
  
  .dropdown {
    position: relative;
    cursor: pointer;
  }
  
  .dropdown > a {
    display: flex;
    align-items: center;
    gap: 2px;
    height: 72px;
  }
  .dropdown > a > img {
    width: 20px;
  }
  
  .dropdown:hover .menu {
    opacity: 1;
    visibility: visible;
  }
  
  .menu {
    position: absolute;
    top: 60px;
    right: -20px;
    display: grid;
    width: 180px;
    padding: 8px 0;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #e1e1e1;
    box-shadow: 0 40px 40px rgb(0 0 0 / 6%);
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
    justify-content: center;
  }
  
  .menu::before {
    content: "";
    background: inherit;
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    position: absolute;
    top: -7px;
    right: 22px;
    width: 12px;
    height: 12px;
    rotate: -45deg;
  }
  
  .menu.open {
    opacity: 1;
    visibility: visible;
  }
  
  .menu > a {
    font-size: 14px;
    padding: 12px 20px;
  }
  
  .menu > a:hover {
    background: #f5f5f5;
    color: #000;
  }
  
  /* Sidebar Sinistra*/
  
  .sidebarS {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: #3a3544;
    z-index: 90;
    transition: all 0.3s ease;
    background-color: #4c4657; /* Da aggiustare*/
  }
  
  .sidebarS ul{
    padding: 10px;
  }
  
  .sidebarS li{
    margin: 10px 0;
    list-style: none;
  }
  
  .sidebarS a {
    display: block;
    padding: 15px;
    background: #0B1019;
    border-radius: 10px;
    color: #8F96A7;
    transition: all 0.3s ease;
  }
  
  .sidebarS a i {
    font-size: 18px;
    margin-right: 10px;
    float: left;
  }
  
  .sidebarS a:hover {
    color: #fff;
    background: #1d2028;
  }
  
  .sidebarS .active {
    background: #1d2028;
    color: #fff;
  }
  
  /* Sidebar dx*/
  
  .sidebarD {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: #3a3544;
    z-index: 90;
    justify-content: space-between;
    background-color: #4c4657; /* Da aggiustare*/
  }
  
  .sidebarD ul{
    padding: 10px;
  }
  
  .sidebarD li{
    margin: 10px 0;
    list-style: none;
  }
  
  .sidebarD a {
    display: block;
    padding: 15px;
    background: #0B1019;
    border-radius: 10px;
    color: #8F96A7;
    transition: all 0.3s ease;
  }
  
  .sidebarD a i {
    font-size: 18px;
    margin-right: 10px;
    float: left;
  }
  
  .sidebarD a:hover {
    color: #fff;
    background: #1d2028;
  }
  
  .sidebarD .active {
    background: #1d2028;
    color: #fff;
  }